/BottleShop/obj
/BottleShop/bin
/BottleShop.v12.suo
/BottleShop/Upload
/Billing/obj
/Billing/bin
/DbBackup/bin
/DbBackup/obj
/Bottleshop.Api/Logs
/Bottleshop.Api/obj
/Bottleshop.Api/bin
/Bottleshop.Api.Billing/obj
/Bottleshop.Api.Billing/bin
