@{Layout = null;}
<form>
    <div class="form-group">
        <label for="exampleInputEmail1">생성갯수</label>
        <input type="number" class="form-control" id="exampleInputEmail1">
    </div>
    <button type="button" class="btn btn-default" id="btnAddP">생성</button>
</form>
<script type="text/javascript">
    $("#btnAddP").click(function () {
        var data = Common.Ajax("@Url.Action("AddPromo")", { count: $("#exampleInputEmail1").val() });
        if (data > 0) {
            location.href = '@Url.Action("Promo")';
        }
    });
</script>