@{
    ViewBag.Title = "CreatePwd";
}

<div class="row">
    <form>
        <div class="form-group">
            <label for="txtO">Origin</label>
            <textarea class="form-control" rows="3" id="txtO"></textarea>
        </div>
        <div class="form-group">
            <label for="txtC">RSA</label>
            <textarea class="form-control" rows="3" id="txtC"></textarea>
        </div>
        <button type="button" class="btn btn-default">Change</button>
    </form>
</div>
