@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
     <ul>
         <li>google : <a href="https://analytics.google.com" target="_blank">https://analytics.google.com</a></li>
         <li>naverworks admin : <a target="_blank" href="https://auth.worksmobile.com/login/login?accessUrl=https%3A%2F%2Fadmin.worksmobile.com%2F" >https://auth.worksmobile.com/login/login?accessUrl=https%3A%2F%2Fadmin.worksmobile.com%2F</a></li>
         <li>naver works mail: <a href="https://mail.worksmobile.com" target="_blank">admin@thebottleshop.co.kr</a></li>
     </ul>
</div>