<div class="container">
    <br />
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        본사이트는 바틀샵의 가격 및 맴버십 가입을 회원들에게  제공을 하는 사이트 입니다. 절대 상품을 온라인 상으로 판매하지 않습니다.
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <a href="@Url.Action("Index","Product")?bc_idx=2">
                    <h2 class="post-title">
                        Beer
                    </h2>
                    <h3 class="post-subtitle">
                        The First Premium Beer Bottle Shop in town
                    </h3>
                </a>
            </div>
            <hr>
            @*<div class="post-preview">
        <a href="@Url.Action("Index","Product")?bc_idx=1">
            <h2 class="post-title">
                Wine
            </h2>
            <h3 class="post-subtitle">
                The First Premium Wine Bottle Shop in town
            </h3>
        </a>
    </div>
    <hr>
    <div class="post-preview">
        <a href="@Url.Action("Index","Product")?bc_idx=3">
            <h2 class="post-title">
                Whisky
            </h2>
            <h3 class="post-subtitle">
                The First Premium Whisky Bottle Shop in town
            </h3>
        </a>
    </div>
    <hr>*@
        </div>
    </div>
</div>

@section script{
<script type="text/javascript">
    $(function () {
        BootstrapDialog.show({
            title: 'Notify',
            message: '아직 오픈 준비중입니다.~~~~~',
            buttons: [{
                label: 'Close',
                action: function (dialog) {
                    dialog.close();
                }
            }]
        });
    })
    </script>
}
