<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <a href="@Url.Action("Index","Product")?bc_idx=2">
                    <h2 class="post-title">
                        Beer
                    </h2>
                    <h3 class="post-subtitle">
                        The First Premium Ale Bottle Shop in town
                    </h3>
                </a>
            </div>
            <hr>
            <div class="post-preview">
                <a href="@Url.Action("Index","Product")?bc_idx=1">
                    <h2 class="post-title">
                        Wine
                    </h2>
                    <h3 class="post-subtitle">
                        The First Premium Ale Bottle Shop in town
                    </h3>
                </a>
            </div>
            <hr>
            <div class="post-preview">
                <a href="@Url.Action("Index","Product")?bc_idx=3">
                    <h2 class="post-title">
                        Whisky
                    </h2>
                    <h3 class="post-subtitle">
                        The First Premium Ale Bottle Shop in town
                    </h3>
                </a>
            </div>
            <hr>
        </div>
    </div>
</div>

