<br />
<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>
                    가격 비교
                </strong>

            </div>
            <div class="panel-body">
                유명 X마트와  바틀샵 맴버쉽 가격의 비교 입니다.<br />
                얼마나 저렴한지 비교해 보세요.
            </div>
        </div>
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="text-align:center;">상품</th>
                        <th style="text-align:center;">바틀샵 맴버쉽 가격(원)</th>
                        <th style="text-align:center;">X마트 가격(원)</th>
                        <th style="text-align:center;">할인율</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>코나 빅웨이브 / KONA BIG WAVE</td>
                        <td style="text-align:right">4,000</td>
                        <td style="text-align:right">4,980</td>                        
                        <td style="text-align:center">20%</td>
                    </tr>
                    <tr>
                        <td>시에라 네바다 페일에일/SIERRA NEVADA PALE</td>
                        <td style="text-align:right">5,200</td>
                        <td style="text-align:right"> 7,980</td>
                        <td style="text-align:center">35%</td>
                    </tr>
                    <tr>
                        <td>시에라 네바다 톨피도 / SIERRA NEVADA TORPEDO</td>
                        <td style="text-align:right">6,000</td>
                        <td style="text-align:right"> 7,980</td>
                        <td style="text-align:center">25%</td>
                    </tr>
                    <tr>
                        <td>시에라네바다 홉헌터 / SIERRA NEVADA HOPHUNTER</td>
                        <td style="text-align:right">6,000</td>
                        <td style="text-align:right"> 7,980</td>
                        <td style="text-align:center">25%</td>
                    </tr>
                    <tr>
                        <td>라구니타스 IPA / LAGUNITAS IPA</td>
                        <td style="text-align:right"> 6,000</td>
                        <td style="text-align:right"> 8,500</td>
                        <td style="text-align:center">29%</td>
                    </tr>
                    <tr>
                        <td>라구니타스 리틀썸핑 / LAGUNITAS LITTLE SUMPIN</td>
                        <td style="text-align:right"> 6,400</td>
                        <td style="text-align:right"> 8,500</td>
                        <td style="text-align:center">25%</td>
                    </tr>
                    <tr>
                        <td>라구니타스 데이터임 / LAGUNITAS DAYTIME</td>
                        <td style="text-align:right"> 6,400</td>
                        <td style="text-align:right"> 8,500</td>
                        <td style="text-align:center">25%</td>
                    </tr>
                    <tr>
                        <td>라구니타스 맥시무스 / LAGUNITAS MAXIMUS</td>
                        <td style="text-align:right"> 6,400</td>
                        <td style="text-align:right"> 8,500</td>
                        <td style="text-align:center">25%</td>
                    </tr>


                    <tr>
                        <td>스톤 루이네이션 더블  IPA/STONE RUINATION IPA</td>
                        <td style="text-align:right">6,400</td>
                        <td style="text-align:right">7,780</td>
                        <td style="text-align:center">18%</td>
                    </tr>
                    <tr>
                        <td>스톤 버번 베럴에이지드 애러건트 베스터드/STONE BOURBON AGED ARROGANT BASTARD</td>
                        <td style="text-align:right">6,240</td>
                        <td style="text-align:right">9,980</td>
                        <td style="text-align:center">37%</td>
                    </tr>
                    <tr>
                        <td>두체스 드 브르고뉴/DUCHESSE DE BOURGONE</td>
                        <td style="text-align:right">7,040</td>
                        <td style="text-align:right">8,680</td>
                        <td style="text-align:center">19%</td>
                    </tr>
                    <tr>
                        <td>뉴벨지움 팻타이어/NEW BELGIUM FAT TIRE</td>
                        <td style="text-align:right">4,240</td>
                        <td style="text-align:right">5,480</td>
                        <td style="text-align:center">23%</td>
                    </tr>
                    <tr>
                        <td>파운더스 올데이 IPA/FOUNDERS ALLDAY IPA</td>
                        <td style="text-align:right">4,720</td>
                        <td style="text-align:right">6,480</td>
                        <td style="text-align:center">27%</td>
                    </tr>
                    <tr>
                        <td>파운더스 센테니얼 IPA/FOUNDERS CENTENNIEL IPA</td>
                        <td style="text-align:right">4,720</td>
                        <td style="text-align:right">6,480</td>
                        <td style="text-align:center">27%</td>
                    </tr>
                    <tr>
                        <td>파운더스 포터/FOUNDERS PORTER</td>
                        <td style="text-align:right">4,720</td>
                        <td style="text-align:right">6,480</td>
                        <td style="text-align:center">27%</td>
                    </tr>
                    <tr>
                        <td>파이어스톤 워커 이지잭/FIRESTONE WALKER EASY JACK</td>
                        <td style="text-align:right">4,400</td>
                        <td style="text-align:right">6,080</td>
                        <td style="text-align:center">27%</td>
                    </tr>
                    <tr>
                        <td>파이어스톤 워커 유니언잭/FIRESTONE WALKER UNION JACK</td>
                        <td style="text-align:right">4,800</td>
                        <td style="text-align:right">6,780</td>
                        <td style="text-align:center">29%</td>
                    </tr>
                    <tr>
                        <td>파운더스 더티 배스터드/FOUNDERS DIRTY BASTARD</td>
                        <td style="text-align:right">4,800</td>
                        <td style="text-align:right">6,480</td>
                        <td style="text-align:center">26%</td>
                    </tr>
                    <tr>
                        <td>로슈포트 10 / ROCHEFORT 10</td>
                        <td style="text-align:right">11,600</td>
                        <td style="text-align:right">14,800</td>
                        <td style="text-align:center">22%</td>
                    </tr>
                    <tr>
                        <td>로슈포트 8 / ROCHEFORT 8</td>
                        <td style="text-align:right">8,800</td>
                        <td style="text-align:right">10,800</td>
                        <td style="text-align:center">19%</td>
                    </tr>
                    <tr>
                        <td>로슈포트 6 / ROCHEFORT 6</td>
                        <td style="text-align:right">8,400</td>
                        <td style="text-align:right">10,200</td>
                        <td style="text-align:center">18%</td>
                    </tr>
                    <tr>
                        <td>로스트코스트 그레이트 화이트 / GREAT WHITE</td>
                        <td style="text-align:right">3,920</td>
                        <td style="text-align:right">4,980</td>
                        <td style="text-align:center">21%</td>
                    </tr>
                    <tr>
                        <td>로스트코스트 인디카 / INDICA</td>
                        <td style="text-align:right">3,920</td>
                        <td style="text-align:right">4,980</td>
                        <td style="text-align:center">21%</td>
                    </tr>
                    <tr>
                        <td>뉴홀랜드 드래곤스 밀크 / DRAGON'S MILK</td>
                        <td style="text-align:right">8,800</td>
                        <td style="text-align:right">12,800</td>
                        <td style="text-align:center">31%</td>
                    </tr>
                    <tr>
                        <td>로그에일 데드가이 / ROGUE DEADGUY</td>
                        <td style="text-align:right">4,800</td>
                        <td style="text-align:right">6,480</td>
                        <td style="text-align:center">26%</td>
                    </tr>

                    <tr>
                        <td>마더어스 캘리크리밍(캔)/MOTHER EARTH CALICREAMIN</td>
                        <td style="text-align:right">4,400</td>
                        <td style="text-align:right">6,480</td>
                        <td style="text-align:center">32%</td>
                    </tr>
                    <tr>
                        <td>마더어스 부쿠(캔)/BOOKOO IPA</td>
                        <td style="text-align:right">5,040</td>
                        <td style="text-align:right">7,280</td>
                        <td style="text-align:center">31%</td>
                    </tr>
                    <tr>
                        <td>미켈러 대동강 페일에일/DAEDONGGANG PALE</td>
                        <td style="text-align:right">3,600</td>
                        <td style="text-align:right">4,780</td>
                        <td style="text-align:center">25%</td>
                    </tr>
                    <tr>
                        <td>에잇와이어드 아이스타우트/8 WIRED I STOUT</td>
                        <td style="text-align:right">5,200</td>
                        <td style="text-align:right">7,000</td>
                        <td style="text-align:center">26%</td>
                    </tr>
                    <tr>
                        <td>벨라스트 포인트 / 스컬핀IPA(Sculpin IPA)</td>
                        <td style="text-align:right">6,240</td>
                        <td style="text-align:right">7,580</td>
                        <td style="text-align:center">18%</td>
                    </tr>
                    <tr>
                        <td>빅아이IPA / Big Eye IPA</td>
                        <td style="text-align:right">4,400</td>
                        <td style="text-align:right">5,700</td>
                        <td style="text-align:center">23%</td>
                    </tr>
                    <tr>
                        <td>그레이프푸르트스컬핀/Grapefruit Sculp IPA</td>
                        <td style="text-align:right">6,320</td>
                        <td style="text-align:right">7,580</td>
                        <td style="text-align:center">17%</td>
                    </tr>
                    <tr>
                        <td>빅토리엣씨 / Victory at Sea</td>
                        <td style="text-align:right">6,320</td>
                        <td style="text-align:right">7,580</td>
                        <td style="text-align:center">17%</td>
                    </tr>
                    <tr>
                        <td>올드라스푸틴 / Old Rasputin</td>
                        <td style="text-align:right">6,400</td>
                        <td style="text-align:right">8,180</td>
                        <td style="text-align:center">22%</td>
                    </tr>

                    <tr>
                        <td>런던 ESB/LONDON ESB</td>
                        <td style="text-align:right">5,040</td>
                        <td style="text-align:right">5,980</td>
                        <td style="text-align:center">16%</td>
                    </tr>
                    <tr>
                        <td>런던 프라이드/LONDON PRIDE</td>
                        <td style="text-align:right"> 5,040</td>
                        <td style="text-align:right">5,980</td>
                        <td style="text-align:center">16%</td>
                    </tr>
                    <tr>
                        <td>런던포터/LONDON PORTER</td>
                        <td style="text-align:right"> 5,040</td>
                        <td style="text-align:right">5,980</td>
                        <td style="text-align:center">16%</td>
                    </tr>
                    <tr>
                        <td>호로요이 그레이프/HOROYOI GRAPE</td>
                        <td style="text-align:right"> 3,300</td>
                        <td style="text-align:right"> 3,080</td>
                        <td style="text-align:center">14%</td>
                    </tr>
                    <tr>
                        <td>호로요이 피치 /HOROYOI PEACH</td>
                        <td style="text-align:right"> 3,300</td>
                        <td style="text-align:right"> 3,080</td>
                        <td style="text-align:center">14%</td>
                    </tr>
                    <tr>
                        <td>호로요이 화이트사워/HOROYOI WHITE SOUR</td>
                        <td style="text-align:right"> 3,300</td>
                        <td style="text-align:right"> 3,080</td>
                        <td style="text-align:center">14%</td>
                    </tr>


                </tbody>
            </table>
        </div>
    </div>
</div>
