@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MobileResult</title>
    <script type="text/javascript">
        opener.Complete();
        window.close();
    </script>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
